.grid-container--user-main
  display grid
  grid 1fr 1fr / 1fr 1fr
  width 95vw
  height 95vh

.round-button--post
  position relative
  top 75px
  padding 10px
  background var(--red)
  color var(--white)
