.grid-container--user-main
  display grid
  grid-template-columns repeat(auto-fill, 28vw)
  margin 0 auto
  padding 2rem 0 2rem 0
  grid-gap 1vw
  justify-content center
  grid-auto-rows 450px
  grid-auto-flow dense
  width 90vw
  height 100vh

@media only screen and (max-width: 1200px)
  .grid-container--user-main
    grid-template-columns repeat(auto-fill, 45vw)
    width auto

@media only screen and (max-width: 600px)
  .grid-container--user-main
    grid-auto-flow row
    grid-template-columns repeat(auto-fill, 100vw)
    width auto
    overflow-x hidden
    overflow-y scroll
    -webkit-overflow-scrolling touch
