@import url('BackgroundLayer.css')
@import url('index.css')
@import url('Register.css')
@import url('SignIn.css')
@import url('Main.css')
@import url('UserMain.css')
@import url('UserPosts.css')
@import url('MainSplash.css')


/* Center container */
.flex-container--center
  display flex
  flex-direction column
  height 100vh
  width 100vw
  justify-content center
  align-items center
  text-align center

/* Classes for splash banner text */
.splash-banner-text
  display grid
  grid 2fr 1fr 2fr 2fr / 1fr
  align-items center
  justify-content center
  transition all 0.2s
  min-height 600px
  max-height 60vh
  width 80vw

.splash-banner-text--h1,
.splash-banner-text--ellipses,
.splash-banner-text--h3
  letter-spacing 3px
  font-weight 300

.splash-banner-text--h1
  text-shadow: 1px 1px 2px rgba(0,0,0,.2)

.splash-banner-text > input
  margin 0 auto
  width 75vw
  background none
  border none
  border-bottom 1px solid black
  padding-bottom 2px
  text-align center
  font-size 2em
  font-family inherit
  outline none
  &:focus
    outline none

/* Classes for buttons */

.round-button
  letter-spacing 3px
  border 0
  line-height 120px
  width 120px
  height 120px
  border-radius 50%
  text-decoration none
  transition all .2s
  box-shadow: 0px 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  &:hover, &:focus
    transform scale(1.05)
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    outline none

/* Classes for letter transitions */

.textAppear
  animation move 0.6s
  position relative

@keyframes move
  from
    top 50px
    opacity 0
  to
    top 0
    opacity 1

/* Error messages */

.error-msg
  position relative
  color var(--red)
  bottom 30px
  font-weight 200

/* ------------- Non-mobile --------------- */
@media only screen and (min-width:600px)
  .splash-banner-text > input
    width 50vw