@import 'styles/*'
@import 'normalize-stylus'

// Delete
.sign-out
  display none

/* App Containers */
.flex-container
  display flex
  flex-direction column
  height 100vh
  width 100vw
  &--center, &__space
    display flex
    flex-direction column
    height 100vh
    width 100vw
    justify-content center
    align-items center
    text-align center
  &__space
    height 50vh
    justify-content space-around

.form-container
  display flex
  height 100vh
  width 100vw
  justify-content: center
  align-items: center


/* Classes for buttons */

.round-button
  display flex
  justify-content center
  align-items center
  padding 15px
  font-size 1rem
  letter-spacing 3px
  border 0
  width 120px
  height 120px
  border-radius 50%
  text-decoration none
  transition all .2s
  box-shadow: 0px 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  &:hover, &:focus
    transform scale(1.05)
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    outline none

/* Classes for letter transitions */

.textAppear
  animation move 0.6s
  position relative

@keyframes move
  from
    bottom 50px
    opacity 0
  to
    bottom 0
    opacity 1

/* Error messages */

.error-msg
  position relative
  color var(--red)
  bottom 30px
  font-weight 200

/* ------------- Non-mobile --------------- */
@media only screen and (min-width:600px)
  .splash-banner-text > input
    width 50vw